<section class="hero">
    <div class="container text-center">
        <div class="row">
            <div class="col text-center">
                <h1 class="hero__title">Fork App</h1>
                <h3 class="hero__subtitle">A real gamechanger in the world of web development</h3>
                <p class="hero__paragraph">v.2.8 for Mac and Windows</p>
            </div>
        </div>
        <div class="hero__button-container text-center">
            <button class="hero__button btn-reset"> Download For Free Now</button>
            <p class="hero__button-text-under">Unlimited 30-Days trial period</p>
        </div>        
    </div>
</section>