$root-font: 14;

$accent-color: #8d81ac;
$text-white: #fff;
$text-violet: #a291a5;
$text-decoration: #645766;
$second-accent-color: #635c73;
$bg-gray: #27262a;
$bg-violet: #4a3b4e;
$text-dark-grey: #323232;
$text-light-grey: #848e97;
