.logo-footer {
    margin-bottom: 25px;
    padding-bottom: 8px;

    @media(max-width: 480px) {
        border-bottom: solid 1px #c7c7c7;
    }

    @media(min-width: 320px) and (max-width: 400px){
        border-bottom: none; 
    }
}

.logo-footer__link {
    display: block;
    @media(min-width: 320px) and (max-width: 400px) {
        display: none;
    }
}

.logo-footer__link-mob {
    display: none;
    @media(min-width: 320px) and (max-width: 400px) {
        display: block;
        font-family: Montserrat;
        @include rem(24);
    }
}

.logo-footer__link-mob-text-black {
    color: $text-dark-grey;
}

.logo-footer__link-mob-text-purple {
    color: $accent-color;
}