.logo-header {
  &__link {
    display: block;
    width: 153px;
    height: 41px;
    @include background('../img/logo_header.png');
    transition: all .3s;
    &:hover {
      @include background('../img/logo_header-hover.png');
    }
    @media (max-width: 575px) {
      width: 41px;
      height: 41px;
      @include background('../img/logo_min.png');
      &:hover {
        @include background('../img/Logo_hover_min.png');
      }
    }
  }
}