.logo-footer {
    margin-bottom: 25px;
    padding-bottom: 8px;

    @media(max-width: 479.9px) {
        border-bottom: solid 1px #c7c7c7;
    }

    @media(max-width: 319.9px) {
        border-bottom: none; 
    }
}

.logo-footer__link {
    display: block;
    @media (max-width: 319.9px) {
        display: none;
    }
}

.logo-footer__link-mob {
    display: none;
    @media (max-width: 319.9px) {
        display: block;
        font-family: Montserrat;
        @include rem(24);
    }
}

.logo-footer__link-mob-text-black {
    color: $text-dark-grey;
}

.logo-footer__link-mob-text-purple {
    color: $accent-color;
}