<!-- Christina -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h3 class="section-title-h3 white">People Are Talking About Fork</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="about-item">
            <div class="about-icon">
                <span class="logo1"></span>
              </div>
              <p class="about-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 w-50">
        <div class="about-item">
            <div class="about-icon">
                <span class="logo2"></span>
              </div>
              <p class="about-text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="about-item">
            <div class="about-icon">
                <span class="logo3"></span>
              </div>
              <p class="about-text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="about-item">
            <div class="about-icon">
                <span class="logo4"></span>
              </div>
              <p class="about-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="about-item">
            <div class="about-icon">
                <span class="logo5"></span>
              </div>
              <p class="about-text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="about-item">
            <div class="about-icon">
                <span class="logo6"></span>
              </div>
              <p class="about-text">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="section-footer d-sm-block d-none">
    <div class="container">
      <div class="row">
        <div class="col-10 m-auto">
          <p class="section-footer__text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>  
        </div>
      </div>
    </div>
  </footer>
</section>