.callback {
    background-color: #f4f4f4;
    padding: 55px 0 45px;
}

.col-title-order,
.col-button{
    @media (max-width: 992px) {
        display: flex;
        align-items: flex-start;
        justify-content: center !important; 
    }    
        
}

.col-title-order {  

    @media (max-width: 993px) {        
        margin-bottom: 30px;
    }  

}

.col-input-name,
.col-input-phone {
    @media (max-width: 992px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 30px; 
    }

    @media (max-width: 480px) {
        justify-content: center;        
    }
}



.callback__title {
    font-family: Montserrat;
    color: $second-accent-color;
    @include rem(30);
    font-weight: 700;
    margin: 0 !important;

    @media (max-width: 1199.98px) { 
        @include rem(27);
    }
    
    @media(max-width: 480px){
        display: none;
    }
}

.callback__title-mobile {
    display: none;
    
    @media(max-width: 480px){
        display: block;
        font-family: Montserrat;
        color: $text-dark-grey;
        @include rem(28);
        font-weight: 700;
    }

    @media(max-width: 319.9px){
        text-align: center;        
     }
}

.callback__input-name,
.callback__input-phone {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    background-color: $text-white;
    padding: 15px 0 15px 26px;
    font-family: Montserrat;
    color: #c8cbcf;
    @include rem(14);
    font-weight: 400;
    border: none;
    
    @media(max-width: 480px){
        width: 70%;        
    }
    @media(min-width: 320px) and (max-width: 400px) {
        width: 100%;        
    }
}

.callback__input-name:focus,
.callback__input-phone:focus,
.callback__input-phone:active,
.callback__input-name:active {
    border: none;
    outline: none;
}

.callback__button {
    padding: 15px 37px;
    border-radius: 25px;
    background-color: $accent-color;
    color: $text-white;
    text-transform: uppercase;
    outline: none;
    border: solid 1px transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $accent-color;
        background-color: $text-white;
        border: solid 1px $accent-color;
    }
}

.callback__button-title {
    @media(max-width: 480px){
        display: none;
    }
}

.callback__button-title-mobile {
    display: none;
    @media(max-width: 480px){
        display: block;
        @include rem(13);
    }
    
}











 