<section class="callback">
    <div class="container">
        <div class="row">
            <div class="col-xl col-lg-12 col-md-12 d-flex col-title-order">
                <p class="callback__title">Order callback</p>
                <p class="callback__title-mobile text-center">Subscribe To Stay In Touch</p>
            </div>               
            <div class="col-xl col-lg-6 col-md-6 col-sm-12 d-flex col-input-name">
                <input type="text" class="callback__input-name" placeholder="Your name">
            </div>
            <div class="col-xl col-lg-6 col-md-6 col-sm-12 d-flex col-input-phone">
                <input type="text" class="callback__input-phone" placeholder="Phone">
            </div>
            <div class="col-xl-2 col-lg-12 col-md-12 d-flex col-button">
                <button class="callback__button"> 
                    <span class="callback__button-title">Call me!</span> 
                    <span class="callback__button-title-mobile">Subscribe!</span>
                </button>               
            </div>
        </div>
    </div>
</section>