<section class="callback">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 d-flex align-items-center col-order">
                <p class="callback__title align-self-center">Order callback</p>
                <p class="callback__title-mobile">Subscribe To Stay In Touch</p>
            </div>               
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex align-items-center col-name">
                <input type="text" class="callback__input-name" placeholder="Your name">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex align-items-center col-phone">
                <input type="text" class="callback__input-phone" placeholder="Phone">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 d-flex align-items-center col-button">
                <button class="callback__button"> 
                    <span class="callback__button-title">Call me!</span> 
                    <span class="callback__button-title-mobile">Subscribe!</span>
                </button>               
            </div>
        </div>
    </div>
</section>