<section class="callback">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xl col-lg col-md-12 col-title-order">
                    <p class="callback__title text-md-center">Order callback</p>
                    <p class="callback__title-mobile text-center">Subscribe To Stay In Touch</p>
                </div>               
                <div class="col-xl col-lg col-md-6 col-sm-12  col-input-name">
                    <input type="text" class="callback__input-name" placeholder="Your name">
                </div>
                <div class="col-xl col-lg col-md-6 col-sm-12  col-input-phone">
                    <input type="text" class="callback__input-phone" placeholder="Phone">
                </div>
                <div class="col-xl-2 col-lg col-md-12 text-md-center col-button">
                    <button class="callback__button text-md-center"> 
                        <span class="callback__button-title">Call me!</span> 
                        <span class="callback__button-title-mobile">Subscribe!</span>
                    </button>               
                </div>
            </div>
        </form>      
    </div>
</section>