.pricing {
  padding: 70px 0 75px; 
  background: $bg-violet url('../img/pricing-bg.png') no-repeat center/cover;
  text-align: center;
  color: $text-white;
  @media (max-width: 991px) {
    padding-bottom: 60px;
  }
  .section-title-h3 {
    margin-bottom: rem(120px);
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    @media (max-width: 575px) {
      margin-bottom: 55px;
    }
    @media (max-width: 400px) {
      font-size: rem(28px);
      font-weight: 700;
      line-height: 42px;
    }
  }
 
  &-card {
    background-color: rgba(#fff, .11);
    width: 90%;
    margin: 0 auto;
    transition: all .3s;
    &:hover, &.active {
      background-color: rgba(#000, .11);
      transform: scale(1.1, 1.2);
      .pricing-card__header {
        background-color: rgba(#000, .06);
      }
    }
    @media (max-width: 991px) {
      margin-bottom: 90px;
    }
    @media (max-width: 575px) {
      margin-bottom: 15px;
      &.active {
        margin: 50px auto 70px;
      }
    }
    &__header {
      padding: 45px 15px 35px;
      background-color: rgba(#fff, .06);
    }
    &__title {
      font-size: rem(24px);
      line-height: 20.45px;
      text-transform: uppercase
    }
    &__content {
      padding: 30px 15px 40px;
    }
    &__price {
      font-size: rem(60px);
      line-height: 60px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        font-weight: 400;
      }
    }
    &__duration {
      display: block;
      margin: 15px 0 0;
      font-size: rem(14px);
      text-transform: uppercase;
      color: rgba(#fff, .3);
      &::after {
        content: '';
        display: block;
        margin: 40px auto 30px;
        width: 60px;
        height: 5px;
        background-color: $accent-color;
      }
    }
    &__descr {
      min-height: rem(65px);
      font-size: rem(16px);
      line-height: rem(32px);
    }
    &__btn {
      @include btn(rem(160px), rem(42px), rem(15px), 500, rgba($text-white, .15));
      text-transform: uppercase;

    }
  }

  .section-footer {
    margin-top: 130px;
  }
  
}