<!-- Christina -->
<section class="pricing">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h3 class="section-title-h3 white">
          Fork Subscription Pricing
        </h3>
      </div>

      <!-- Pricing cards -->

      <div class="col-lg-3">
        <div class="row">
          <div class="pricing-card">
            <div class="pricing-card__header">
              <h5 class="pricing-card__title">Students</h5>
            </div>
            <div class="pricing-card__content">
              <h4 class="pricing-card__price">
                <span>&#36;</span>29
              </h4>
              <span class="pricing-card__duration">per month</span>
              <p class="pricing-card__descr">Personal License</p>
              <button class="pricing-card__btn">purchase</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="pricing-card">
            <div class="pricing-card__header">
              <h5 class="pricing-card__title">professional</h5>
            </div>
            <div class="pricing-card__content">
              <h4 class="pricing-card__price">
                <span>&#36;</span>59
              </h4>
              <span class="pricing-card__duration">per month</span>
              <p class="pricing-card__descr">Professional License<br>Email Support</p>
              <button class="pricing-card__btn">purchase</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="pricing-card">
            <div class="pricing-card__header">
              <h5 class="pricing-card__title">agency</h5>
            </div>
            <div class="pricing-card__content">
              <h4 class="pricing-card__price">
                <span>&#36;</span>99
              </h4>
              <span class="pricing-card__duration">per month</span>
              <p class="pricing-card__descr">1-12 Team Members<br>Phone Support</p>
              <button class="pricing-card__btn">purchase</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="pricing-card">
            <div class="pricing-card__header">
              <h5 class="pricing-card__title">enterprise</h5>
            </div>
            <div class="pricing-card__content">
              <h4 class="pricing-card__price">
                <span>&#36;</span>159
              </h4>
              <span class="pricing-card__duration">per month</span>
              <p class="pricing-card__descr">Unlimited Team Members<br>24/ 7 Phone Support</p>
              <button class="pricing-card__btn">purchase</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>