<!-- Christina -->
<!-- это просто пример верстки и как я заинклюдила навигацию и лого -->
<!-- если будешь переделывать заинклюдь точно так же -->
<!-- и также навешаны классы из бутстрапа -->
<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6">
          {% include 'components/logo/logo_header.html' %} 
           <!-- это кнопка под мобильную версию, если будет нужно  -->
          <button class="menu-btn"> 
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="col-lg-8 col-md-12 d-flex justify-content-lg-end justify-content-center align-items-center order-md-3">
          {% include 'components/header/nav/nav.html' %}
        </div>
        <div class="col-lg-2 col-md-6 d-flex justify-content-end">
          {% include 'components/buttons/button-header/button-header.html' %}
        </div>
      </div>
    </div>
</header>