<!-- Christina -->
<!-- это просто пример верстки и как я заинклюдила навигацию и лого -->
<!-- если будешь переделывать заинклюдь точно так же -->
<!-- и также навешаны классы из бутстрапа -->
<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 col order-lg-1 order-md-1">
          {% include 'components/logo/logo_header.html' %} 
           <!-- это кнопка под мобильную версию, если будет нужно  -->
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 d-sm-flex mobile d-none justify-content-lg-end justify-content-md-center align-items-center order-lg-2 order-md-3 order-sm-3 order-3">
          {% include 'components/header/nav/nav.html' %}
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col d-flex justify-content-md-end  justify-content-sm-end order-lg-3 order-md-2">
          {% include 'components/buttons/button-header/button-header.html' %}          
        </div>
        <div class="no-gutters col-lg-2 col-md-6 col-sm-4 col d-flex d-lg-none d-md-none d-sm-none" style="border: solid 1px"> 
          {% include 'components/buttons/button-menu/button-menu.html' %}
        </div>
      </div>
    </div>
</header>
