.header-nav {
  &__item {
    margin: 0 24px;
  }
  &__link {
    color: $accent-color;
    font-size: rem(16px);
    font-weight: 700;
    transition: all .3s;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}