<Footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
                {% include 'components/logo/logo_footer.html' %}
                <p class="logo-text-under">Lorem ipsum dolor sit amet feugiat delicat liberavisse id cum no quo</p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="footer__nav-wrap">
                    <h5 class="footer__nav-title">Navigation</h5>
                    <ul class="footer__nav">
                        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Home</a></li>
                        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Overview</a></li>
                        <li class="footer__nav-item"><a href="#" class="footer__nav-link">About</a></li>
                        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Buying options</a></li>
                        <li class="footer__nav-item"><a href="#" class="footer__nav-link">Support</a></li>
                    </ul>
                </div>              
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
                <address class="contacts">
                    <div class="contacts__phone-wrap">
                        <a href="347 567 78 90" class="contacts__phone-link">
                            <span class="contacs__phone-description">347 567 78 90</span>                           
                        </a>
                        <span class="contacts__phone-schedule">Available from 12pm-18pm</span>
                    </div>
                    <div class="contacts__adress-wrap">
                        <span class="contacts__adress-city">New York, NY</span>
                        <p class="contacts__adress-descr">560 Judah St & 15Ave, Apt 5, New York, NY, 23093</p>
                    </div>
                </address>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="footer__info-wrap">
                    <h5 class="footer__info-title">Info</h5>
                    <p class="footer__info-text">
                            Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Autem vel hendrerit iriure dolor in hendrerit. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</Footer>