.testimonials {
    background-color: $text-white;
    padding: 87px 0 80px 0;

    @media(min-width: 320px) and (max-width: 400px) {
      padding: 60px 0 60px 0;
    }
}

.testimonials__slider-wrap {
    width: 100%;       
    margin-bottom: 118px;
    
    @media(min-width:481px) and (max-width: 992px) {
      border-bottom: 1px solid #c7c7c7;
      margin-bottom: 83px;
    }

    @media(max-width: 480px) {
      margin-bottom: 57px;
    }
    
    @media(min-width: 320px) and (max-width: 400px) {
      margin-bottom: 35px;
    }
  }
  
  .testimonials__slider {    
    position: relative;
    z-index: 99; 
    list-style: none;
    padding: 0 !important; 
    margin: 0 !important;         
  }

  .testimonials__slider-item {    
    text-align: center;    
    padding: 0;   
    margin: 0 auto;    
  }

  .testimonials__slider-person-wrap {      
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
           
      @media(min-width: 320px) and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 23px;
      }
  }

.testimonials__slider-person-img {
    display: block;
    min-width: 85px;
    min-height: 85px;
    @media(min-width: 320px) and (max-width: 400px) {
      display: inline-block;
      margin-bottom: 25px;     
    }
  }
 
  .testimonials__slider-person-data-wrap { 
    display: flex; 
    flex-direction: column;
    justify-content: center;   
    margin-left: 23px; 
    text-align: left;
    @media(min-width: 320px) and (max-width: 400px) {
      text-align: center;      
    }    
  }

  .testimonials__slider-person-name,
  .testimonials__slider-person-email {
      display: block;
  }

  .testimonials__slider-person-name {
    font-family: Montserrat;
    color:  $second-accent-color;
    @include rem(24);
    font-weight: 700;
    margin-bottom: 7px;    
    line-height: 23px;
  }

  .testimonials__slider-person-email {
    font-family: Montserrat;
    color:  #8d81ac;
    @include rem(16);
    font-weight: 400;
    line-height: 15px;    
  }

  .testimonials__slider-description {
    margin: 0 auto 24px;
    width: 70%;
    font-family: Lato;
    color: $text-dark-grey;
    @include rem(20);
    font-weight: 400;

    @media(max-width: 992px) {
      width: 70%;
    }

    @media(max-width: 480px) {
      width: 80%;
    }
  }

  .testimonials__slider-description-email {    
    color: $accent-color;    
  }
  
  .testimonials__slider-time {
    font-family: Montserrat;
    color: #848e97;
    @include rem(16);
    font-weight: 400;
    margin: 0 !important;
    
    @media(min-width:481px) and (max-width: 992px) {      
      margin-bottom: 20px !important;
    }

  }

  .testimonials__slider-btn {
    background: none;
    padding: 0;
    width: 20px;
    height: 25px;  
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 999;
    color: $text-light-grey;
    border: 1px solid $text-white;
    font-size: 25px;
    line-height: 25px;
    opacity: .8; 
    
    @media(max-width: 480px) {
      top: 50%;    
    }
    
    @media(min-width: 320px) and (max-width: 400px) {
      top: 58%;     
    } 
  }

  .testimonials__slider-btn--prev {
      left: 97px; 

    @media(max-width: 992px) {
      left: 45px;      
  }      
      @media(max-width: 480px) {
        left: -2px;      
    } 
    @media(min-width: 320px) and (max-width: 400px) {
        left: -1px;      
    }    
  }
  .testimonials__slider-btn--next {
    right: 97px; 

    @media(max-width: 992px) {
      right: 45px;     
    }     

    @media(max-width: 480px) {
      right: -2px;      
    }
    @media(min-width: 320px) and (max-width: 400px) {
      right: -1px;      
    }
  }

  .testimonials__col-githab,
  .testimonials__col-twitter {
    
    @media(max-width: 992px) {
      width: 50% !important;
      margin-bottom: 35px;
    } 

    @media(max-width: 480px) {
      width: 100% !important;      
    }
  }

  .testimonials__col-facebook {    
    @media(max-width: 992px) {
      width: 100% !important;      
    } 
  }

  .testimonials__col-githab {
    justify-content: flex-end;
  }

  .testimonials__col-twitter {
    justify-content: flex-start;
  }

  .testimonials__col-facebook {
    justify-content: center;
  }
  
  .testimonials__col-githab,
  .testimonials__col-twitter,
  .testimonials__col-facebook {

    @media(max-width: 992px) {
      justify-content: center;
    } 
    
    @media(max-width: 480px) {
      justify-content: center;
    }
  } 

  .testimonials__button {
    position: relative;
    display: block;
    padding: 18px 82px;
    font-family: Montserrat;
    @include rem(21);
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    margin-bottom: 18px;
    max-width: 240px; 
    
      @media(max-width: 479.9px) {
        min-width: 280px;
        text-align: center;
      }
  }


  .testimonials__button-icon {
    position: absolute;
    top: 19px;
    left: 24px;
  }

  .testimonials__button-github {
    color: #2b414d;
    background-color: #f3f3f3;    
      
      &:hover {
        background-color: #2b414d;
        color: #f3f3f3;
    }
  }

  .testimonials__button-twitter {
    background-color: #26a6d1;
    color: $text-white;
    border: solid 1px transparent;
       
    &:hover {
      background-color: $text-white;
      color: #26a6d1;
      border: solid 1px #26a6d1;
    }
  }

  .testimonials__button-facebook {
    background-color: #3b5998;
    color: $text-white;
    border: solid 1px transparent;
       
    &:hover {
      background-color: $text-white;
      color: #3b5998;
      border: solid 1px #3b5998;
    }
  }

  .testimonials__button-followers {
    color: $text-light-grey;

    &:hover {
      color: $text-light-grey;
    }
  }

  .testimonials__button-followers span {
    display: inline-block;
    margin-left: 7px;
  }


  