<section class="testimonials">
    <div class="container-fluid pr-0 pl-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="testimonials__slider-wrap">
                    <button class="testimonials__slider-btn testimonials__slider-btn--prev">
                        <i class="fas fa-angle-left"></i>
                    </button>
                    <ul class="testimonials__slider">
                        <li class="testimonials__slider-item">
                            <div class="testimonials__slider-person-wrap">
                                <img src="./img/imgs_slider/person1.png" alt="photo" class="testimonials__slider-person-img">
                                <div class="testimonials__slider-person-data-wrap">
                                    <span class="testimonials__slider-person-name">Steven Strange</span>
                                    <span class="testimonials__slider-person-email">@DoctorS</span>
                                </div>                                
                            </div>
                            <p class="testimonials__slider-description"> <span class="testimonials__slider-description-email">@Pixelbudha</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            <p class="testimonials__slider-time">2 hours ago</p>
                        </li>
                        <li class="testimonials__slider-item">
                            <div class="testimonials__slider-person-wrap">
                                <img src="./img/imgs_slider/person2.png" alt="photo" class="testimonials__slider-person-img">
                                <div class="testimonials__slider-person-data-wrap">
                                    <span class="testimonials__slider-person-name">Anna Unknown</span>
                                    <span class="testimonials__slider-person-email">@NurseS</span>
                                </div>                                
                            </div>
                            <p class="testimonials__slider-description"><span class="testimonials__slider-description-email">@Pixelbudha</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            <p class="testimonials__slider-time">2 hours ago</p>
                        </li>
                        <li class="testimonials__slider-item">
                            <div class="testimonials__slider-person-wrap">
                                <img src="./img/imgs_slider/person3.png" alt="photo" class="testimonials__slider-person-img">
                                <div class="testimonials__slider-person-data-wrap">
                                    <span class="testimonials__slider-person-name">Sara Clear</span>
                                    <span class="testimonials__slider-person-email">@SisterS</span>
                                </div>                                
                            </div>
                            <p class="testimonials__slider-description"><span class="testimonials__slider-description-email">@Pixelbudha</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            <p class="testimonials__slider-time">2 hours ago</p>
                        </li>
                    </ul>
                    <button class="testimonials__slider-btn testimonials__slider-btn--next">
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row"> 
                <div class="col d-inline-flex testimonials__col-githab">
                    <div class="testimonials__button-wrap text-center">
                        <a href="#" class="testimonials__button testimonials__button-github">Github
                            <span class="testimonials__button-icon testimonials__button-icon-github"><i class="fab fa-github"></i></span>                                
                        </a>
                        <a href="#" class="testimonials__button-followers">7375<span>Followers</span></a>
                    </div> 
                </div>
                <div class="col d-inline-flex testimonials__col-twitter">         
                    <div class="testimonials__button-wrap text-center">
                        <a href="#" class="testimonials__button testimonials__button-twitter">Twitter
                            <span class="testimonials__button-icon testimonials__button-icon-twitter"><i class="fab fa-twitter"></i></span>                                
                        </a>
                        <a href="#" class="testimonials__button-followers">7375<span>Followers</span></a>
                    </div>
                </div>
                <div class="col d-inline-flex testimonials__col-facebook">
                    <div class="testimonials__button-wrap text-center">
                        <a href="#" class="testimonials__button testimonials__button-facebook">Facebook
                            <span class="testimonials__button-icon testimonials__button-icon-facebook"><i class="fab fa-facebook-f"></i></span>                                
                        </a>
                        <a href="#" class="testimonials__button-followers">7375<span>Subscribers</span></a>
                    </div>
                </div>
            </div>                   
        </div>    
</section>