.options {
    background-color: #F5F5F5;
    padding: 85px 0 35px 0; 
    padding-left: 90px; 
    
    @media (max-width: 768px) { 
        padding-left: 0px;       
    } 
}

.options__title-desktop {
    font-family: Montserrat;
    color: $accent-color;
    @include rem(46);
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 20px;
    line-height: 30px;
    
    @media (max-width: 768px) { 
        display: none;        
    } 
}

.options__title-tablet {
    display: none;
    @media (max-width: 768px) { 
        display: block;
        font-family: Montserrat;
        color: $accent-color;
        @include rem(46);
        font-weight: 700;
        margin-bottom: 30px;
        margin-left: 20px;
        line-height: 30px; 
        margin-bottom: 60px;
        text-align: center;       
    } 

    @media (max-width: 768px) { 
        margin-left: 0px;
        line-height: 44px; 
        @include rem(42);       
    }

    @media (max-width: 320px) {        
        line-height: 34px; 
        @include rem(32);       
    }

}

.media {
    @media (max-width: 320px) {
        display: block;        
        width: 100%;    
    }
}


.media-body-right {
    width: 70%;
    
    @media (max-width: 320px) {
        display: block;        
        width: 100%;
        text-align: center;    
    }

}

.media-body-left {
    width: 25%;

    @media (max-width: 320px) { 
        display: block;       
        width: 100%; 
        text-align: center;
        margin-bottom: 30px;   
    }
}

.media-title {
    font-family: Montserrat;
    color: $text-dark-grey;
    @include rem(16);
    font-weight: 700;    
}

.media-text {
    font-family: Montserrat;
    color: $text-light-grey;
    @include rem(14);
    font-weight: 400;
}

.options__img-wrap {
    width: 100%;
    @media (max-width: 768px) { 
        text-align: right; 
        border: solid 1px blue;      
    }


}

.opinions__img {
        // width: 100%;
        display: inline-block;
 
}


