<section class="options">
    <div class="container-fluid">
        <div class="row">
            <div class="col pt-1">
                    <h3 class="options__title-tablet">&ltHere is what you get&gt</h3>    
                <div class="row mb-4">
                    <div class="col">
                        <div class="media">
                            <div class="media-body-left mr-3 text-center">
                                <img src="./img/icons_options/icon1.png" alt="image">
                            </div>                            
                            <div class="media-body media-body-right">
                            <h5 class="mt-0 mb-3 media-title">Created to Make The Web Better</h5>
                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>            
                            </div>
                      </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="media">
                            <div class="media-body-left mr-3 text-center">
                                <img src="./img/icons_options/icon2.png" alt="image">
                            </div>                        
                            <div class="media-body media-body-right">
                            <h5 class="mt-0 mb-3 media-title">Incredibly Powerful Tool</h5>
                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>             
                            </div>
                      </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="media">
                            <div class="media-body-left mr-3 text-center">
                                <img src="./img/icons_options/icon3.png" alt="image">
                            </div>                            
                            <div class="media-body media-body-right">
                            <h5 class="mt-0 mb-3 media-title">Experimental Stuff</h5>
                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. </p>             
                            </div>
                      </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="media">
                            <div class="media-body-left mr-3 text-center">
                                <img src="./img/icons_options/icon4.png" alt="image">
                            </div>                            
                            <div class="media-body media-body-right ">
                            <h5 class="mt-0 mb-3 media-title">Created to Make The Web Better</h5>
                            <p class="media-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>             
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col pr-0">
                <h3 class="options__title-desktop">&ltHere is what you get&gt</h3>
                <div class="options__img-wrap">
                    <img src="./img/editor.png" alt="img" class="opinions__img">
                </div>
            </div>
        </div>
    </div>

</section>